–£—Ä–æ–∫ 6. –í–∑–∞–∏–º–æ—Å–≤—è–∑—å –≤–µ–ª–∏—á–∏–Ω. –ü–∞—Ä–∞–º–µ—Ç—Ä–∏—á–µ—Å–∫–∏–µ –∏ –Ω–µ–ø–∞—Ä–∞–º–µ—Ç—Ä–∏—á–µ—Å–∫–∏–µ –ø–æ–∫–∞–∑–∞—Ç–µ–ª–∏ –∫–æ—Ä—Ä–µ–ª—è—Ü–∏–∏. –ö–æ—Ä—Ä–µ–ª—è—Ü–∏–æ–Ω–Ω—ã–π –∞–Ω–∞–ª–∏–∑.

–ó–∞–¥–∞—á–∞ 1

–î–∞–Ω—ã –∑–Ω–∞—á–µ–Ω–∏—è –≤–µ–ª–∏—á–∏–Ω—ã –∑–∞—Ä–∞–±–æ—Ç–Ω–æ–π –ø–ª–∞—Ç—ã –∑–∞–µ–º—â–∏–∫–æ–≤ –±–∞–Ω–∫–∞ (salary) –∏ –∑–Ω–∞—á–µ–Ω–∏—è –∏—Ö –ø–æ–≤–µ–¥–µ–Ω—á–µ—Å–∫–æ–≥–æ –∫—Ä–µ–¥–∏—Ç–Ω–æ–≥–æ —Å–∫–æ—Ä–∏–Ω–≥–∞ (scoring):

salary = [35, 45, 190, 200, 40, 70, 54, 150, 120, 110]
scoring = [401, 574, 874, 919, 459, 739, 653, 902, 746, 832]
–ù–∞–π–¥–∏—Ç–µ –∫–æ–≤–∞—Ä–∏–∞—Ü–∏—é —ç—Ç–∏—Ö –¥–≤—É—Ö –≤–µ–ª–∏—á–∏–Ω: —Å–Ω–∞—á–∞–ª–∞ –±–µ–∑ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏—è —Å–ø–µ—Ü–∏–∞–ª—å–Ω—ã—Ö —Ñ—É–Ω–∫—Ü–∏–π, –∞ –∑–∞—Ç–µ–º —Å –ø–æ–º–æ—â—å—é —Ñ—É–Ω–∫—Ü–∏–∏ numpy.cov. –ü–æ–ª—É—á–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –¥–æ–ª–∂–Ω—ã –±—ã—Ç—å —Ä–∞–≤–Ω—ã.
–ù–∞–π–¥–∏—Ç–µ –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç –∫–æ—Ä—Ä–µ–ª—è—Ü–∏–∏ –ü–∏—Ä—Å–æ–Ω–∞: —Å –ø–æ–º–æ—â—å—é –∫–æ–≤–∞—Ä–∏–∞—Ü–∏–∏ –∏ —Å—Ä–µ–¥–Ω–∏—Ö –∫–≤–∞–¥—Ä–∞—Ç–∏—á–µ—Å–∫–∏—Ö –æ—Ç–∫–ª–æ–Ω–µ–Ω–∏–π –¥–≤—É—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤, –∞ –∑–∞—Ç–µ–º —Å –ø–æ–º–æ—â—å—é —Å–ø–µ—Ü–∏–∞–ª—å–Ω—ã—Ö —Ñ—É–Ω–∫—Ü–∏–π –∏–∑ –±–∏–±–ª–∏–æ—Ç–µ–∫ numpy –∏ pandas.

In [2]:
import numpy as np
import pandas as pd
from scipy import stats

–ò—Å–ø–æ–ª—å–∑—É–µ–º —Ñ–æ—Ä–º—É–ª—É –∫–æ–≤–∞—Ä–∏–∞—Ü–∏–∏ —Å–ª—É—á–∞–π–Ω—ã—Ö –≤–µ–ª–∏—á–∏–Ω ùëã –∏ ùëå : cov(ùëã,ùëå)=ùëÄ((ùëã‚àíùëÄ(ùëã))(ùëå‚àíùëÄ(ùëå))).

In [13]:
df = pd.DataFrame({'salary':[35, 45, 190, 200, 40, 70, 54, 150, 120, 110], 'scoring':[401, 574, 874, 919, 459, 739, 653, 902, 746, 832]}, 
columns = ['salary','scoring'])
df.head()

   salary  scoring
0      35      401
1      45      574
2     190      874
3     200      919
4      40      459

–ü–æ—Å—á–∏—Ç–∞–µ–º –∫–æ–≤–∞—Ä–∏–∞—Ü–∏—é –º–µ–∂–¥—É –≤–µ–ª–∏—á–∏–Ω—â–π –∑–∞—Ä–∞–±–æ—Ç–Ω–æ–π –ø–ª–∞—Ç—ã –∑–∞–µ–º—â–∏–∫–æ–≤ –±–∞–Ω–∫–∞ (salary) –∏ –∑–Ω–∞—á–µ–Ω–∏–µ—å –∏—Ö –ø–æ–≤–µ–¥–µ–Ω—á–µ—Å–∫–æ–≥–æ –∫—Ä–µ–¥–∏—Ç–Ω–æ–≥–æ —Å–∫–æ—Ä–∏–Ω–≥–∞ (scoring)

In [20]:
X = df['salary']
Y = df['scoring']

MX = X.mean()
MY = Y.mean()

cov = ((X - MX) * (Y - MY)).sum() / (X.shape[0] - 1)
cov

10175.37777777778

In [23]:
np.cov(X, Y, ddof=1)

array([[ 3882.93333333, 10175.37777778],
       [10175.37777778, 33854.32222222]])

In [26]:
X.var(), Y.var()

(3882.9333333333334, 33854.32222222223)

–∏—Å–ø–æ–ª—å–∑—É–µ—å–º __–∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç –∫–æ—Ä—Ä–µ–ª—è—Ü–∏–∏ –ü–∏—Ä—Å–æ–Ω–∞__:
$$r_{XY} = \dfrac{\sigma_{XY}}{\sigma_X \cdot \sigma_Y}$$

In [28]:
corr = cov / (X.std() * Y.std())
corr

0.8874900920739164

–ö–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç –∫–æ—Ä—Ä–µ–ª—è—Ü–∏–∏ –ü–∏—Ä—Å–æ–Ω–∞ —Å—á–∏—Ç–∞–µ—Ç—Å—è –ø–æ —É–º–æ–ª—á–∞–Ω–∏—é —Å –ø–æ–º–æ—â—å—é –º–µ—Ç–æ–¥–∞ .corr –æ–±—ä–µ–∫—Ç–æ–≤ pandas.DataFrame

In [31]:
df[['salary', 'scoring']].corr()

          salary  scoring
salary   1.00000  0.88749
scoring  0.88749  1.00000

—Å –ø–æ–º–æ—â—å—é —Ñ—É–Ω–∫—Ü–∏–∏ numpy.corrcoef.

In [33]:
np.corrcoef(X, Y)

array([[1.        , 0.88749009],
       [0.88749009, 1.        ]])

–ó–∞–¥–∞—á–∞ 3

–ò–∑–≤–µ—Å—Ç–Ω–æ, —á—Ç–æ —Ä–æ—Å—Ç —Ñ—É—Ç–±–æ–ª–∏—Å—Ç–æ–≤ –≤ —Å–±–æ—Ä–Ω–æ–π —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω –Ω–æ—Ä–º–∞–ª—å–Ω–æ —Å –∏–∑–≤–µ—Å—Ç–Ω–æ–π –¥–∏—Å–ø–µ—Ä—Å–∏–µ–π 25. –ù–∞ –≤—ã–±–æ—Ä–∫–µ –æ–±—ä—ë–º–∞ 27 –≤—ã–±–æ—Ä–æ—á–Ω–æ–µ —Å—Ä–µ–¥–Ω–µ–µ —Å–æ—Å—Ç–∞–≤–∏–ª–æ 174.2. –ù–∞–π–¥–∏—Ç–µ –¥–æ–≤–µ—Ä–∏—Ç–µ–ª—å–Ω—ã–π –∏–Ω—Ç–µ—Ä–≤–∞–ª –¥–ª—è –º–∞—Ç–µ–º–∞—Ç–∏—á–µ—Å–∫–æ–≥–æ –æ–∂–∏–¥–∞–Ω–∏—è —Å –Ω–∞–¥–µ–∂–Ω–æ—Å—Ç—å—é 0.95.

In [49]:
p = 0.95
sigma = np.sqrt(25)
n = 27
alpha3 = 1 - p
x_mean = 174.2

–û–ø—Ä–µ–¥–µ–ª–∏–º –∫—Ä–∏—Ç–∏—á–µ—Å–∫—É—é –æ–±–ª–∞—Å—Ç—å –¥–ª—è –Ω–æ—Ä–º–∞–ª—å–Ω–æ–≥–æ —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏—è

In [50]:
t1 = stats.norm.ppf(alpha3 / 2)
t2 = stats.norm.ppf(1 - alpha3 / 2)

t1, t2

(-1.959963984540054, 1.959963984540054)

–û–ø—Ä–µ–¥–µ–ª–∏–º –¥–æ–≤–µ—Ä–∏—Ç–µ–ª—å–Ω—ã–π –∏–Ω—Ç–µ—Ä–≤–∞–ª –¥–ª—è –º–∞—Ç–µ–º–∞—Ç–∏—á–µ—Å–∫–æ–≥–æ –æ–∂–∏–¥–∞–Ω–∏—è —Å –Ω–∞–¥–µ–∂–Ω–æ—Å—Ç—å—é 0,95

In [51]:
(x_mean + t1 * sigma / np.sqrt(n), x_mean + t2 * sigma / np.sqrt(n))

(172.3140237765397, 176.08597622346028)